@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary: #000;
  --secondary : rgb(24 24 27) ;
  --border : rgba(63 , 63, 70 , 0.4)
}

.light {
  --primary: #fff;
}

body {
  background-color: var(--primary);
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
}


.divider{

  border-bottom: 1px solid var(--border);
  border-top: 22px;
  margin: 3rem;
}